{
    "bracketSameLine": true,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "editor.formatOnSave": true
}
