body {
  text-align: center;
  min-height: 100vh;
  position: relative;
}
.header p , header a{
  color: #E3FFE9;
}

button{
  cursor: pointer;
}

.header{
  background-color: #47AA5D;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}
.header ul a{
  list-style:  none;
  text-decoration: none;
  margin-left: 1.25rem;
}
.more-btn{
  padding: 0.25rem 0.625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #47AA5D;
  color: #E3FFE9;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.avarta-small{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.avarta-large{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.info{
  position: relative;
  
}
.detail{
  margin: 1.25rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  text-align: start;
}
.skill-container{
  display:  flex;
  gap: 1.25rem;
  justify-content: center;
}
.skill-container img{
  width: 40px;
  height: 40px;
}
.skill-paragraph{
  margin-top: 0 ;
  margin-bottom: 0.625rem;
}
.info h1{
  margin:0   ;
}
.title-info::before{
  top: 0;
  left: 0%;
  width: 10%;
  height: 2px;
}
.boderInfo{
  position: relative;
  padding: 0px;
}
.boderInfo::before{
  top: 0;
  left: 0%;
  width: 2px;
  height: 10%;
}
.title-info::after{
  bottom: 0;
  right: 0%;
  width: 10%;
  height: 2px;
}
.boderInfo::after{
  bottom: 0;
  right: 0%;
  width: 2px;
  height: 10%;
  
  
}

.boderInfo::after ,.title-info::after ,.boderInfo::before,.title-info::before{
  content: "";
  position: absolute;
  background-color: #f7941d;
}
.projects-home{
  text-align: start;
}
.project-list-home{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 290px;
  gap: 1.25rem;
  overflow: hidden;
}
.project-list-home a{
  color: #03468e;
}
.filter-project{
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}
.selected{
  background-color: #f7941d !important;
}
.filter-project button{
  border: none;
  padding: 0.3125rem 0.625rem;
  background-color: #47AA5D;
  color: #E3FFE9;
  border-radius: 0.25rem;
  text-decoration: none;
}
.title-info{
  padding: 0.625rem;
}
.footer{
  width: 100%;
  position: absolute;
  bottom: -80px;
  height: 25px;
  margin-top: 0.625rem;
  background-color: #47AA5D;
  color: #E3FFE9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.625rem;
}
.page-about, .page-contact{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-avarta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  text-align: start;
}
.about-avarta img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contact-icon{
  display: flex;
  gap: 1rem;
  padding: 1rem;
   background-color: #47AA5D;
  border-radius: 0.25rem;
}
.contact-icon svg{
  color: #E3FFE9;
  height: 50px;
  width: 50px;
}
.bnt-contact{
  justify-content: center;
  display: flex;
  gap: 0.625rem;
}
.bnt-contact button{
  padding: 0.3125rem 0.625rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
}
.text-highlight{
  color: #f7941d;
}
.contact-btn{
background-color: #f7941d;
color: #E3FFE9;

}
.project-btn{
  background-color: #47AA5D;
  color: #E3FFE9;
}
.animition-left{
  position: relative;
  left: -300px;
  animation: slide-in-left 1s forwards;
}
.animition-right{
  position: relative;
  right: -300px;
  animation: slide-in-right 1s forwards;
}
.animition-top{
  position: relative;
  top: -300px;
  animation: slide-in-top 1s forwards;
}
.animition-bottom{
  position: relative;
  bottom: -300px;
  animation: slide-in-bottom 1s forwards;
}

@keyframes slide-in-left {
  0% {
      left: -300px; /* Start off the screen to the left */
  }
  100% {
      left: 0; /* End at the original position */
  }
}
@keyframes slide-in-right {
  0% {
      right: -300px; /* Start off the screen to the left */
  }
  100% {
      right: 0; /* End at the original position */
  }
}
@keyframes slide-in-top {
  0% {
      top: -300px; /* Start off the screen to the left */
  }
  100% {
      top: 0; /* End at the original position */
  }
}
@keyframes slide-in-bottom {
  0% {
      bottom: -300px; /* Start off the screen to the left */
  }
  100% {
      bottom: 0; /* End at the original position */
  }
}